# Front End
# dependencies
front-end/node_modules/
front-end/*.pnp
front-end/*.pnp.js
# testing
front-end/coverage
# production
front-end/build
# etc
front-end/npm-debug.log*
front-end/yarn-debug.log*
front-end/yarn-error.log*
# Backend
venv/
back-end/j7s_web_v2/__pycache__/
